body
{
    background-color:#7f7fff;
}

#name
{  
    text-align: center;
    border: 6px solid red;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
    background-color: #99ff66;
}

li a {
    display: block;
    color: #000;
    padding: 9px 18px;
    text-decoration: none;
    border-bottom: 4px solid #339900;
}

/* Change the link color on hover */
li a:hover {
    background-color: #44cc00;
    color: white;
    border-bottom: 4px solid #ff3300;
}



#menulist
{
   text-align: center; 
}
#newscontent
{
   text-align: center; 
}
#pageheading
{
   text-align: center; 
}
#pagename
{
   text-align: center; 
}
